<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>seating booking</title>
    <link rel="stylesheet" href="css.css">
</head>
<body>
    <div class="name">
        <input type="text" value="name">
    </div>
    <div class="center">
    <div class="move_container">
      <label for="">Select the Movie</label>
    
      <select name="" id="movie_name">
        <option value="10">Avengers (10$)</option>
        <option value="30">URI (30$)</option>
        <option value="50">Pathan(50$)</option>
      </select>

      <div>
        <ul class="showcase">
            <li>
                <div class="seat Selected"></div>
                Selected
            </li>
            <li>
                <div class="seat "></div>
                available
            </li>
            <li>
                <div class="seat booked"></div>
                Booked
            </li>
        </ul>
    </div>
    

      <div class="container">
        <div class="screen"></div>
        <div class="row">
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat booked"></div>
            <div class="seat booked"></div>
            <div class="seat booked"></div>
        </div>
        <div class="row">
            <div class="seat "></div>
            <div class="seat"></div>
            <div class="seat "></div>
            <div class="seat"></div>
            <div class="seat booked"></div>
            <div class="seat "></div>
            <div class="seat"></div>
            <div class="seat "></div>
        </div>
        <div class="row">
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat "></div>
            <div class="seat "></div>
            <div class="seat booked"></div>
            <div class="seat booked"></div>
            <div class="seat"></div>
            <div class="seat"></div>
        </div>
        <div class="row">
            <div class="seat "></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat booked"></div>
            <div class="seat "></div>
            <div class="seat"></div>
            <div class="seat "></div>
            <div class="seat booked"></div>
        </div>
        <div class="row">
            <div class="seat"></div>
            <div class="seat "></div>
            <div class="seat"></div>
            <div class="seat "></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
        </div>
        <div class="row">
            <div class="seat"></div>
            <div class="seat "></div>
            <div class="seat"></div>
            <div class="seat "></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
        </div>
        <div class="row">
            <div class="seat"></div>
            <div class="seat "></div>
            <div class="seat"></div>
            <div class="seat "></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
        </div>
      </div>
      <p class="text">You Selected seat <span id="count">0</span> 
    And your Total Price $ <span id="total">0</span>
</p>
    </div></div>
</body>
<script src="javascript.js"></script>
</html>